extends ../layout

block content
  - const hasPicture = Boolean(article.image);
  - const isUserAuth = Boolean(user);
  - const hasComments = Boolean(article.comments.length);
  - const hasErrorMessages = Boolean(errorMessages && errorMessages.length);
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        div.post__wrapper
          div.post__head
            a.post__backwards.button.button--backwards(href=backHref) Назад
            time.post__date(datetime=article.createdDate)
              +formattedDate(article.createdDate)
            h2.post__title.title.title--main #{article.title}
            +categoriesList(article.categories, null, true)
          div.post__picture
            img(src=`${hasPicture ? `img/${article.image}` : ''}` alt=article.title)
          div.post__text
            h3 #{article.announce}
            p #{article.fullText}
      div.post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle #{hasComments ? `Комментарии` : `Комментарии отсутствуют`}
          if hasComments
            ul.comments__list
              each comment in article.comments
                li.comments__comment
                  div.comments__avatar.avatar
                    img(src=`img/${comment.user.avatar}` alt='Аватар пользователя')
                  div.comments__text
                    div.comments__head
                      p #{comment.user.firstName} #{comment.user.lastName} •
                      time.comments__date(datetime=comment.createdAt)
                        +formattedDate(comment.createdAt)
                    p.comments__message #{comment.text}
          if isUserAuth
            div.comments__footer.comments__footer--user
              form(action=`/articles/${article.id}/comments` method="POST")
                input(type='hidden' name='userId' value=user.id)
                div.avatar
                  img(src=`img/${user.avatar}` alt='Аватар пользователя')
                label
                  textarea(value=commentData.text name='text' rows='1' placeholder='Присоединиться к обсуждению')
                    | #{commentData.text}
                button.comments__button.button.button--colored(type='submit') Опубликовать
              if hasErrorMessages
                each errorMessage in errorMessages
                  p.comments__error #{errorMessage}
          else
            div.comments__footer.comments__footer--visitor
              a.comments__button.button.button--colored(href='/login') Войти
              div.comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться
