extends ../layout

block content
  - const isEdit = Boolean(article.id);
  - const articleCategories = article.categories || [];
  - const actionPath = `/articles/${isEdit ? `edit/${article.id}` : 'add' }`;
  main
    section
      div.popup.popup--new-publication.popup--anti
        div.new-publication
          form(action=actionPath method="POST" enctype="multipart/form-data" autocomplete="off")
            div.new-publication__header
              h1 #{isEdit ? `Редактирование публикаци` : `Новая публикация`}
              div.new-publication__date-form
                h3 Дата публикации
                div.new-publication__date-form-division
                  div.new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    input#new-publication-date(value=article.createdDate type='text' name='createdDate' placeholder='2019-03-21' required)
                +errorList(messagesByField.createdDate)
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            a.popup__button.button.button--popup-close(href='/my' aria-label='Закрыть окно') Закрыть окно
            div.new-publication__form.form
              div.form__wrapper.form__wrapper--intro
                div.form__field
                  label
                    input(type='text' name='title' placeholder='Заголовок' value=article.title required)
                  +errorList(messagesByField.title)
                div.form__field.form__field--post-image
                  label
                    input#image-name-field(type='text' name='photo' placeholder='Фотография' readonly)
                  div.form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file' name='image' accept='.jpg, .png')
                      | Обзор
                  button.button.button--transparent Удалить
                div.new-publication__category-wrapper
                  each category in categories
                    div.new-publication__checkbox.new-publication__checkbox--auto
                      - const isChecked = articleCategories.some((item) => item === category.id || item.id === category.id)
                      input(id=`category${category.id}` type='checkbox' name="category" value=category.id checked=isChecked)
                      label(for=`category${category.id}`) #{category.name}
                  a.new-publication__form-link.button.button--transparent(href='/categories') Добавить категорию
                  +errorList(messagesByField.categories)
              div.form__wrapper.form__wrapper--text
                div.form__field.form__field--publication-text
                  label
                    textarea(name='announce' rows='2' placeholder='Анонс публикации' required) #{article.announce}
                  +errorList(messagesByField.announce)
                div.form__field.form__field--publication-text
                  label
                    textarea(name='fullText' rows='5' placeholder='Полный текст публикации') #{article.fullText}
                  +errorList(messagesByField.fullText)
          +errorList(errorMessages)
