mixin articlesList(articles = [], currentPage, totalPagesCount, paginationPath)
  - const MIN_PAGES_FOR_PAGINATION = 1;
  - const PAGINATION_WIDTH = 2;
  - const hasPagination = totalPagesCount > MIN_PAGES_FOR_PAGINATION
  section.main-page__list.preview
    h2.visually-hidden Список превью статей
    ul.preview__list
      each article in articles
        - const hasImg = Boolean(article.image);
        li.preview__item
          ul.preview__breadcrumbs
            each category in article.categories
              li.preview__breadcrumbs-item
                a.preview__breadcrumbs-link(href=`articles/category/${category.id}`) #{category.name}
          div.preview__background
            img.preview__background-image(src=`${hasImg ? `/img/${article.image}` : ''}` width='460' height='240' alt='Фотография статьи')
          time.preview__time(datetime=article.createdDate)
            +formattedDate(article.createdDate)
          h3.preview__name
            a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
          p.preview__text #{article.announce}
          a.preview__comment(href='#')
            | Комментарии
            span.preview__cloud
            b.preview__comment-count  #{article.comments.length}
  if hasPagination
    +pagination(currentPage, totalPagesCount, PAGINATION_WIDTH, paginationPath)
