mixin categoriesList(categories = [], selectedCategory = null, isArticleCategories = false)
  - const hasSelectedCategory = Boolean(selectedCategory);
  section.main-page__theme-list
    h2.visually-hidden Список тем
    ul.themes(class=`${isArticleCategories ? `post__themes` : ``}`)
      each category in categories
        - const hasCount = Boolean(category.count);
        - const isSelected = hasSelectedCategory && selectedCategory.id === category.id;
        li.themes__item
          a(class=`themes__item-link ${isSelected ? 'themes__item-link--active' : ''}` href=`articles/category/${category.id}`)
            | #{category.name}
            if hasCount
              sup  #{category.count}
