mixin pagination(page, totalPages, width, paginationPath)
  -
    let start = page - width;
    let end = page + width;
    if (start < 1) {
      end += 1 - start;
      start = 1;
    }
    if (end > totalPages) {
      start -= end - totalPages;
      end = totalPages;
    }
    if (start < 1) {
      start = 1;
    }

    let i = start - 1
  div.preview__toggle-wrapper
    ul.preview__pagination.pagination
      if start > 1
        li
          a(class='pagination__button button button--backwards' aria-label='Страница назад' href=`/${paginationPath}page=${page - 1}`) Назад
      while i++ < end
        li(class=`pagination__item ${i === page ? 'pagination__item--active' : ''}`)
          a(href=`/${paginationPath}page=${i}`) #{i}
      if end < totalPages
        li
          a(class='pagination__button button button--forward' aria-label='Страница вперед' href=`/${paginationPath}page=${page + 1}`) Вперёд
