.post__wrapper.post__wrapper--comments
  section.post__comments.comments
    h2.comments__title.title.title--middle= comments.list.length !== 0 ? `Комментарии` : `Комментарии отсутствуют`
    ul.comments__list
      each comment in comments.list
        li.comments__comment
          .comments__avatar.avatar
            img(src= comment.account.avatar alt='аватар пользователя')
          .comments__text
            .comments__head
              p= comment.account.name + ` •`
              time.comments__date(datetime=comment.date.stamp)= `${comment.date.day}, ${comment.date.time}`
            p.comments__message= comment.text

    if !account
      .comments__footer.comments__footer--visitor
        button.comments__button.button.button--colored(type=`submit` ) Войти
        .comments__registration
          p.text.text--signature
            b.title.title--small Регистрация
            | Чтобы присоединиться к переписке нужно зарегистрироваться
    else if account.type === `user`
      .comments__footer.comments__footer--user
        form(action='#' method='POST')
          .avatar
            img(src= account.avatar alt='аватар пользователя')
          label
            textarea(rows='1' placeholder='Присоединиться к обсуждению')
          button.comments__button.button.button--colored(type='submit') Опубликовать
        if comments.hasUserError
          p.comments__error Сообщение не может быть пустым, напишите что-нибудь!
