- const hasUser = Boolean(user);
- const hasStatusCode = Boolean(errorCode);
header(class=`header ${hasStatusCode ? 'header--error' : ''}`)
  a(class=`header__logo logo ${hasStatusCode ? `header__logo--${errorCode}` : ''}` href='/')
    img(src='img/icons/logo.svg' alt='логотип Тайпотеки')

  if hasUser
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          p #{user.firstName} #{user.lastName}
        li.header__list-item
          a.header__exit(href='/logout') Выйти
    a.header__avatar.avatar
      img(src=`/img/${user.avatar}` alt="Аватар пользователя")
  else
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          a.header__registration(href='/register') Регистрация
        li.header__list-item
          a.header__enter(href='/login') Вход с паролем

    //- button.button.button--colored.header__button-new Новая запись
    //- .header__dropdown
    //-   a.button.button--burger.header__burger(href='#') Открыть меню
    //-   ul.navigation.header__navigation
    //-     li.navigation__item
    //-       a(href='#') Пункт меню

  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
