- const hasUser = Boolean(user);
- const isAdmin = hasUser && user.isAdmin;
- const hasStatusCode = Boolean(errorCode);
header(class=`header ${hasStatusCode ? 'header--error' : ''}`)
  a(class=`header__logo logo ${hasStatusCode ? `header__logo--${errorCode}` : ''}` href='/')
    img(src='img/icons/logo.svg' alt='логотип Тайпотеки')

  if isAdmin
    a.button.button--colored.header__button-new(href='/articles/add') Новая запись
    .header__dropdown
      button.button.button--burger.header__burger(href='#') Открыть меню
      ul.navigation.header__navigation
        li.navigation__item
          a(href="/my") Публикации
        li.navigation__item
          a(href="/my/comments") Комментарии
        li.navigation__item
          a(href="/categories") Категории
        li.navigation__item
          a(href="/logout") Выход
  else if hasUser
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          p #{user.firstName} #{user.lastName}
        li.header__list-item
          a.header__exit(href='/logout') Выйти
    a.header__avatar.avatar
      img(src=`/img/${user.avatar}` alt="Аватар пользователя")
  else
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          a.header__registration(href='/register') Регистрация
        li.header__list-item
          a.header__enter(href='/login') Вход с паролем

  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
