section.main-page__list.preview
  h2.visually-hidden Список превью статей
  ul.preview__list
    each preview in previews
      li.preview__item
        ul.preview__breadcrumbs
          each category in preview.category
            li.preview__breadcrumbs-item
              a.preview__breadcrumbs-link(href='#') #{category}
        div.preview__background
          img.preview__background-image(src=`/img/${preview.image}` width='460' height='240' alt='Фотография небоскреба')
        time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        h3.preview__name
          a.preview__name-link(href=`/articles/${preview.id}`) #{preview.title}
        p.preview__text #{preview.announce}
        a.preview__comment(href='#')
          | Комментарии
          span.preview__cloud
          |
          b.preview__comment-count #{preview.comments.length}
  include ../pagination
