extends layout

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      div.category__add-form
        form(action='/categories' method='POST')
          input#add-form-add-category(type='text' name='name' placeholder='Новая категория' required)
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить
      div(style="padding: 0 40px;")
        +errorList(errorMessages)
      ul.category__list
        each category in categories
          - const hasArticles = categoriesWithCount.some((it) => it.id === category.id);
          li.category__list-item
            form(action=`/categories/${category.id}` method='POST')
              input(id=category.id type='text' value=category.name name='name' required)
              label(for=category.id)
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit' name='action' value='editCategory') Сохранить
              button.category__button.button.button--category(type='submit' name='action' value='deleteCategory' disabled=hasArticles) Удалить
