extends layout

block content
  - const hasErrors = Boolean(errorMessages && errorMessages.length);
  main
    h1.visually-hidden Регистрация пользователя
    section
      div.popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(href='/' aria-label='Закрыть окно')
          | Закрыть
          | окно
        h2.popup__title Регистрация
        div.popup__form.popup__form--active.form.form--register
          form(action='/register' method='POST' enctype='multipart/form-data')
            div.form__field
              label
                input(value=registerPayload.email type='email' name='email' placeholder='Электронная почта' required)
            div.form__field
              label
                input(value=registerPayload.firstName type='text' name='firstName' placeholder='Имя' required)
            div.form__field
              label
                input(value=registerPayload.lastName  type='text' name='lastName' placeholder='Фамилия')
            div.form__field
              label
                input(value=registerPayload.password type='password' name='password' placeholder='Пароль' required)
            div.form__field
              label
                input(value=registerPayload.repeatedPassword type='password' name='repeatedPassword' placeholder='Повтор пароля' required)
            if hasErrors
              div.form__validation-error
                p.form__error-message При регистрации произошли ошибки:
                ul.form__errors
                  each errorMessage in errorMessages
                    li.form__error #{errorMessage}
            div.form__image-loader
              a.form__avatar.avatar
                img(src='img/icons/smile.svg' alt='Аватар пользователя')
              label
                input.visually-hidden(type='file' name='avatar' required)
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
